// shows list

.shows-list{
	margin-top: -4rem;
	padding: 0 4rem 4rem 4rem;
}

.grid{
	@include column-span(6);
	display: flex;
	flex-direction: column;

	transition: all 300ms ease-in-out;
	margin-bottom: 2rem;
	position: relative;

	img{
		width: 100%;
		height: auto;
		transition: opacity 300ms ease-in-out;
		-webkit-backface-visibility: hidden;
	}

	h2,p{
		width: calc(100% - 2rem);
		margin-left: 1rem;
		margin-top: 0;
		padding-top: .5rem;
		display: inline-block;
	}

	h2{
		line-height: 1.4;
		font-size: 1.2rem;
		font-weight: 400;
		font-family: $body-font;
		transition: border 300ms ease-in-out;
		padding-top: 0;
		&:before{
			content: '';
			width: 0;
			height: 3px;
			display: block;
			background-color: #333;
			margin-bottom: .5rem;
		}
	}

	p{
		color: transparent;
		transition: all 100ms ease-in-out;
		position: absolute;
		font-size: 1.2rem;
		.rating,
		.score{
			display: block;
		}

		.score{
			font-size: 1.4rem;
		}

	}

	&:hover{
		background-color: $colour-yellow;
		cursor: pointer;

		h2:before{
			width: 100%;
			transition: width 300ms ease-in-out;
		}

		p{
			border-top-color: transparent;
			color: #333;
		}

		img{
			opacity: 0;
		}
	}
}

@media (max-width: $tablet-width){

	.shows-list{
		padding: 2rem;
	}
	.grid{
		@include column-span(2);
	}
	
}

@media (max-width: $mobile-width){

	.shows-list{
		padding: 1rem;
	}

	.grid{
		@include column-span(1);
	}

}