header{
	background-color: #f0f0f0;
	padding: 4rem 4rem 10rem 4rem;
	position: relative;

	.grid-container{
		padding: 0 4rem;
	}

	img{
		max-width: 200px;
		display: inline-block;
		margin-right: 4rem;
		transform: rotate(-5deg);
		position: relative;
		&:hover{
			animation: bounce 1s infinite;
		}
	}

	.strapline{
		width: calc(100% - 200px - 8rem);
		margin-top: 1rem;
		p{
			margin: 0;
			font-size: 1.4rem;
		}
	}

	h2{
		margin: 2rem 0 0;
		font-weight: 400;
		font-size: 2rem;
		display: inline-block;
		font-family: $heading-font;
	}
}


// grids
.row{
	display: flex;
	flex-direction: row;
	width: 100%;
	padding: 1rem 0;
}

.grid-container{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	max-width: $max-screen-width;
	margin-left: auto;
	margin-right: auto;
}

.no-wrap{
	flex-wrap: nowrap;
}

@media (max-width: $tablet-width){

	header{
		padding-bottom: 6rem;

		.grid-container{
			padding: 0;
		}

		.strapline{
			width: calc(100% - 200px - 2rem);
		}
	}
}


@media (max-width: $mobile-width){

	.no-wrap{
		flex-wrap: wrap;
	}

	.navigator{
		margin: 0 0 1rem 0;
		padding: 0;
		text-align: center;
	}


	header{
		padding: 1rem 1rem 4rem 1rem;
		text-align: center;

		.grid-container{
			justify-content: center;
		}

		.strapline{
			width: 100%;
		}
		img{
			margin: 0;
			max-width: 100px;
		}
		h2{
			width: 100%;
			padding: 0;
			text-align: center;
			position: relative;
			top: auto;
			transform: none;
			font-size: 1.4rem;
			margin-top: 1rem;
		}
	}
}