// typography

$body-font: 'Fira Sans', monospace;

$heading-font: 'Fira Mono', Arial, sans-serif;


// gutters

$gutter-width: 20px;


// colours

$colour-yellow: #fff600;


// breakpoints

$max-screen-width: 1400px;

$tablet-width: 1024px;

$mobile-width: 767px;


// animations 

@keyframes fadeIn {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes bounce {
  0%   {
  	top: 0;
  	left: 0;
  	transform: rotate(-5deg) scale(1);
  }
  50%	 {
  	top: 10px;
  	left: 10px;
  	transform: rotate(2deg) scale(1.1);
  }
  100% {
  	top:0;
  	left: 0;
  	transform: rotate(-5deg) scale(1);
  }
}


// functions

@mixin column-span($column-span) {

	@if $column-span == 1 {
		width: 100%;
		margin-right: 0;
	}

	@else {
		$column-width: percentage(1/$column-span);		
		$column-gutters: ($column-span - 1) / $column-span;
		$column-gutter-width: $gutter-width * $column-gutters;
		
		width: calc( #{$column-width} - #{$column-gutter-width} );

		margin-right: $gutter-width;
		align-content: flex-start;
		display: flex;
		flex-wrap: wrap;

		&:nth-of-type(#{$column-span}n),
		&:last-child{
			margin-right: 0;
		}
	}
}